<h1>something</h1>

<p>This is the home page of this dumb website!</p>
<div>
<a href='/about'>this is another page on this website so amazing</a>
</div>
<div>
<a href = '/blog'>things i do on any day</a>
</div>

<h2>todays date is <%= Date.today %><h2>
<h3>its currently <%= @current_time %></h3>