<h1>AMAZING DELPHIC FORSEEING CLAIRVOYANCE ORACLE!!!!</h1>

<div>
<p><%= @user_views %></p>
</div>

<div>
<a href='/fortune'>SEE YOUR FUTURE!!!!</a>
</div>

<div>
<a href='/lottery'>WINNING LOTTO NUMBERS!!!!</a>
</div>